{% include "_base.html" %}

{% block content %}

<section class="py-10 my-auto dark:bg-gray-900">
    <div class="lg:w-[80%] md:w-[90%] xs:w-[96%] mx-auto flex gap-4">
        <div
            class="lg:w-[88%] md:w-[80%] sm:w-[88%] xs:w-full mx-auto shadow-2xl p-4 rounded-xl h-fit self-center dark:bg-gray-800/40">
            <!--  -->
            <div class="">
                <h1
                    class="lg:text-3xl md:text-2xl sm:text-xl xs:text-xl font-serif font-extrabold mb-2 dark:text-white">
                    
                </h1>
                <h2 class="text-grey text-sm mb-4 dark:text-gray-400"> </h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    <!-- Cover Image -->
                    <div class="w-full rounded-sm bg-[url('https://images.unsplash.com/photo-1449844908441-8829872d2607?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw2fHxob21lfGVufDB8MHx8fDE3MTA0MDE1NDZ8MA&ixlib=rb-4.0.3&q=80&w=1080')] bg-cover bg-center bg-no-repeat items-center">
                        <!-- Profile Image -->

                          <div class="w-full flex justify-center items-center">
                            {{ profile_form.image}}
                          </div>
                    </div>
                    <h2 class="text-center mt-1 font-semibold dark:text-gray-300">Rasm yuklang</h2>
                    <div class="flex flex-col lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
                        <div class="w-full  mb-4 mt-6">
                            <label for="" class="mb-2 dark:text-gray-300">email</label>
                            {{user_form.email}}
                        </div>
                        <div class="w-full  mb-4 mt-6">
                            <label for="" class="mb-2 dark:text-gray-300">Familya</label>
                            {{user_form.first_name}}
                        </div>

                    </div>
                    <div class="flex flex-col lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
                        

                        <div class="w-full  mb-4 lg:mt-6">
                            <label for="" class=" dark:text-gray-300">Ism</label>
                            {{user_form.last_name}}
                        </div>
                        <div class="w-full mb-4 lg:mt-6">
                            <h3 class="dark:text-gray-300 mb-2">Yosh</h3>
                            {{user_form.age}}
                        </div>
                    </div>

                    <div class="flex flex-col lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
                        
                        <div class="w-full">
                            <h3 class="dark:text-gray-300 mb-2">O'zinggiz Haqida</h3>
                            {{profile_form.bio}}
                        </div>
                    </div>
                    <div class="w-full rounded-lg bg-blue-500 mt-4 text-white text-lg font-semibold">
                        <button type="submit" class="w-full p-4">Yangilash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}