<!-- templates/_base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS + Flowbite</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/daisyui/4.10.2/full.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% comment %} <link rel="stylesheet" href="{% static 'css/project.css' %}"> {% endcomment %}
 
</head>

<body>
    <div class="mx-auto max-w-[1440px]">
        {% include "navbar.html" %}
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'js/main.js' %}" > </script >
    <script src="{% static 'js/data.js' %}" > </script >

</body>

</html>
